h1 {
    background-color: blue; /* External CSS */
    color: white;
    text-align: center;
    border-radius: 4px;
}

h2 {
    background-color: aqua; /* External CSS */
    text-align: center;
    border-radius: 4px;
}

h3 {
    background-color: bisque; /* External CSS */
    text-align: center;
    border-radius: 4px;
}

h4 {
    background-color: blueviolet; /* External CSS */
    color: rgb(235, 255, 215);
    text-align: center;
    border-radius: 4px;
}

h5 {
    background-color: darkgoldenrod; /* External CSS */
    text-align: center;
    border-radius: 4px;
}
